.root {
    -fx-background-color: lightyellow;
    -fx-font-family: Helvetica, Arial;
}

.active-button, .disabled-button {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-min-height: 80px;
    -fx-min-width: 80px;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.active-button {
    -fx-background-color: #d4ebf2;
    -fx-cursor: hand;
}

.active-button:hover {
    -fx-background-color: #ADD8E6;
}

.disabled-button {
    -fx-background-color: lightgrey;
}

.header {
    -fx-padding: 0 0 30px 0;
    -fx-font-size: 20px;
}